# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Testing
coverage/
playwright-report/
test-results/

# Env
.env
.env.local
.env.*.local

# Debug
npm-debug.log*
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# IDE
.idea/
.vscode/
